In [1]:
#Topic: Environment and Energy (Maven Analytics' dataset: Apple Emissions)
import pandas as pd

In [3]:
#reading datasets
carbon_footprint_by_product = pd.read_csv('https://raw.githubusercontent.com/corinne167225/DataAnalysis2/main/Final_Project/carbon_footprint_by_product.csv')
greenhouse_gas_emissions = pd.read_csv('https://raw.githubusercontent.com/corinne167225/DataAnalysis2/main/Final_Project/greenhouse_gas_emissions.csv')
normalizing_factors = pd.read_csv('https://raw.githubusercontent.com/corinne167225/DataAnalysis2/main/Final_Project/normalizing_factors.csv')
#csv on what variables mean (readme basically):
variable_understanding = pd.read_csv('https://raw.githubusercontent.com/corinne167225/DataAnalysis2/main/Final_Project/data_dictionary.csv')

In [4]:
#Table describing variables for each of the three tables
variable_understanding

,Table,Field,Description
0,Greenhouse gas emissions,Fiscal Year,Apple's fiscal calendar starts on the last Sun...
1,Greenhouse gas emissions,Category,Emissions are divided into two categories: cor...
2,Greenhouse gas emissions,Type,There are two types of emissions data included...
3,Greenhouse gas emissions,Scope,There are three scopes: direct scope 1 emissio...
4,Greenhouse gas emissions,Description,The source of the greenhouse gas emissions
5,Greenhouse gas emissions,Emissions,Greenhouse gas emissions (metric tons CO2e)
6,Carbon footprint by product,Release Year,Year the product was released
7,Carbon footprint by product,Product,Product name
8,Carbon footprint by product,Baseline Storage,Lowest storage option
9,Carbon footprint by product,Carbon Footprint,Greenhouse gas emissions from the product lige...
10,Normalizing factors,Fiscal Year,Figures are as of the end of the fiscal year
11,Normalizing factors,Revenue,"Net sales (in millions, US$)"
12,Normalizing factors,Market Capitalization,"Value of the company (in billions, US$)"
13,Normalizing factors,Employees,Number of full-time equivalent employees

In [5]:
carbon_footprint_by_product

   Release Year    Product  Baseline Storage  Carbon Footprint
0          2023  iPhone 15               128                56
1          2022  iPhone 14               128                61
2          2021  iPhone 13               128                64
3          2020  iPhone 12                64                70
4          2019  iPhone 11                64                72
5          2018  iPhone Xs                64                70
6          2017   iPhone X                64                79
7          2017   iPhone 8                64                57
8          2016   iPhone 7                32                56
9          2015  iPhone 6s                32                54

In [6]:
greenhouse_gas_emissions

,Fiscal Year,Category,Type,Scope,Description,Emissions
0,2022,Corporate emissions,Gross emissions,Scope 1,"Natural gas, diesel, propane",39700.0
1,2022,Corporate emissions,Gross emissions,Scope 1,Fleet vehicles,12600.0
2,2022,Corporate emissions,Gross emissions,Scope 1,Other (R&D processes & refrigerant leaks),2900.0
3,2022,Corporate emissions,Gross emissions,Scope 2 (market-based),Electricity,0.0
4,2022,Corporate emissions,Gross emissions,Scope 2 (market-based),"Steam, heating, and cooling",3000.0
...,...,...,...,...,...,...
131,2015,Product life cycle emissions,Gross emissions,Scope 3,Manufacturing (purchased goods and services),29600000.0
132,2015,Product life cycle emissions,Gross emissions,Scope 3,Product transportation (upstream and downstream),1300000.0
133,2015,Product life cycle emissions,Gross emissions,Scope 3,Product use (use of sold products),6600000.0
134,2015,Product life cycle emissions,Gross emissions,Scope 3,End-of-life processing,500000.0
135,2015,Product life cycle emissions,Carbon removals,NaN,Product carbon offsets,NaN

In [7]:
normalizing_factors

   Fiscal Year  Revenue  Market Capitalization  Employees
0         2022   394328                   2490     164000
1         2021   365817                   2450     154000
2         2020   274515                   1720     147000
3         2019   260174                   1090     137000
4         2018   265595                    830     132000
5         2017   229234                    740     123000
6         2016   215639                    600     116000
7         2015   233715                    580     110000

In [ ]:
#Question: How do emissions relate to revenue by year? (will have to group fiscal year 
#in greenhouse gas table and get sum of emissions)

#could do a scatterplot based on that!

#also could do: Y:revenue, x:emissions, z:carbon footprint, emission type (category) = 
#could make that a dummy variable for corporate emissions = 1

In [9]:
#merge greenhouse_gas_emissions df and normalizing_factors df:
merged_df = pd.merge(greenhouse_gas_emissions, normalizing_factors, on = 'Fiscal Year')
merged_df

,Fiscal Year,Category,Type,Scope,Description,Emissions,Revenue,Market Capitalization,Employees
0,2022,Corporate emissions,Gross emissions,Scope 1,"Natural gas, diesel, propane",39700.0,394328,2490,164000
1,2022,Corporate emissions,Gross emissions,Scope 1,Fleet vehicles,12600.0,394328,2490,164000
2,2022,Corporate emissions,Gross emissions,Scope 1,Other (R&D processes & refrigerant leaks),2900.0,394328,2490,164000
3,2022,Corporate emissions,Gross emissions,Scope 2 (market-based),Electricity,0.0,394328,2490,164000
4,2022,Corporate emissions,Gross emissions,Scope 2 (market-based),"Steam, heating, and cooling",3000.0,394328,2490,164000
...,...,...,...,...,...,...,...,...,...
131,2015,Product life cycle emissions,Gross emissions,Scope 3,Manufacturing (purchased goods and services),29600000.0,233715,580,110000
132,2015,Product life cycle emissions,Gross emissions,Scope 3,Product transportation (upstream and downstream),1300000.0,233715,580,110000
133,2015,Product life cycle emissions,Gross emissions,Scope 3,Product use (use of sold products),6600000.0,233715,580,110000
134,2015,Product life cycle emissions,Gross emissions,Scope 3,End-of-life processing,500000.0,233715,580,110000
135,2015,Product life cycle emissions,Carbon removals,NaN,Product carbon offsets,NaN,233715,580,110000